# Домашнее задание на проверку знаний библиотеки для анализа данных Pandas.

Вам представлен датасет, который содержит информацию по результатам сезона 2016 года игры в бейсбол.

Вам необходимо загрузить датасет (он находится в архиве с текущим домашним заданием). Провести его очистку, если это необходимо и ответить на поставленные аналитические
вопросы.

Список колонок, представленных в датасете:

---
* attendance        - количество зрителей матча
* away_team         - название гостевой команды
* away_team_errors  - количество ошибок гостевой команды
* away_team_hits    - количество хитов гостевой команды (хит в бейсболе - удар при котором отбивающий достиг первой базы)
* away_team_runs    - количество ранов гостевой команды (ран в бейсболе - очко заработанное игроком нападения)
* date              - дата проведения матча
* field_type        - тип игрового поля
* game_type         - тип игры
* home_team         - название домашней команды
* home_team_errors  - количество ошибок домашней команды
* home_team_hits    - количество хитов домашней команды (хит в бейсболе - удар при котором отбивающий достиг первой базы)
* home_team_runs    - количество ранов домашней команды (ран в бейсболе - очко заработанное игроком нападения)
* start_time        - время начала игрового матча
* venue             - название места проведения матча (стадион, поле, арена)
* day_of_week       - день недели проведения матча
* temperature       - температура воздуха в день проведения матча в фаренгейтах
* wind_speed        - скорость ветра в день проведения матча
* wind_direction    - направление скорости ветра
* sky               - облачность
* total_runs        - общее количество ранов для двух команд
* game_hours_dec    - длительность матча указаная в часах
* season            - тип игрового сезона
* home_team_win     - результат домашней команды (1 - выигрыш)
* home_team_loss    - результат домашней команды (0 - проигрыш)
* home_team_outcome - исход матча
---

Всего в задании 20 вопросов. За каждый правильный вопрос начисляется 5 баллов. Таким образом за все правильные ответы вы получите - 100 баллов. Оценка затем будет приведена к 10-ти бальной шкале.

---

**Кроме того, баллы могут быть снижены за**:

- 1 балл снижается за качество кода - старайтесь чтобы код был максимально лаконичным. Названия переменных (если они используются) должны отражать максимальную ее сущность. Вывод старайтесь делать минимальным, так как первичная цель - сделать качественный анализ, чтобы быстро ответить на поставленный вопрос (никаких таблиц на 100 строк).


- 5 баллов снижается если ответ на домашнюю работу будет прислан в виде скриншота, ноутбука, текстового файла и прочих способов. Используйте при отправке на проверку только GitHub/GitLab либо прочий сервис. Присылать домашнюю работу необходимо ссылкой на ваш репозиторий на адрес электронной почты maratmovlamov2017@gmail.com


- за каждый день просрочки дедлайна снижается по 10 баллов. Один день - минус 10 баллов, второй день минус 10 баллов, третий день минус 10 баллов. Соблюдайте сроки и не приступайте к домашнему заданию в последний момент.

---

Удачи вам в поисках истинны :)

In [128]:
# Импортируйте все необходимые библиотеки и модули которые вам необходимы
import pandas as pd
from datetime import datetime

In [94]:
# Загрузите датасет и проведите его очистку и форматирование если это необходимо
bsblgms_df = pd.read_csv( '../practical_task/baseball_games.csv', delimiter = ',')
bsblgms_df

,Unnamed: 0,attendance,away_team,away_team_errors,away_team_hits,away_team_runs,date,field_type,game_type,home_team,...,temperature,wind_speed,wind_direction,sky,total_runs,game_hours_dec,season,home_team_win,home_team_loss,home_team_outcome
0,0,40030.0,New York Mets,1,7,3,2016-04-03,on grass,Night Game,Kansas City Royals,...,74.0,14.0,from Right to Left,Sunny,7,3.216667,regular season,1,0,Win
1,1,21621.0,Philadelphia Phillies,0,5,2,2016-04-06,on grass,Night Game,Cincinnati Reds,...,55.0,24.0,from Right to Left,Overcast,5,2.383333,regular season,1,0,Win
2,2,12622.0,Minnesota Twins,0,5,2,2016-04-06,on grass,Night Game,Baltimore Orioles,...,48.0,7.0,out to Leftfield,Unknown,6,3.183333,regular season,1,0,Win
3,3,18531.0,Washington Nationals,0,8,3,2016-04-06,on grass,Night Game,Atlanta Braves,...,65.0,10.0,from Right to Left,Cloudy,4,2.883333,regular season,0,1,Loss
4,4,18572.0,Colorado Rockies,1,8,4,2016-04-06,on grass,Day Game,Arizona Diamondbacks,...,77.0,0.0,in unknown direction,In Dome,7,2.650000,regular season,0,1,Loss
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2458,2458,31042.0,Toronto Blue Jays,2,7,5,2016-04-03,on turf,Day Game,Tampa Bay Rays,...,72.0,0.0,in unknown direction,In Dome,8,2.850000,regular season,0,1,Loss
2459,2459,39500.0,St. Louis Cardinals,0,5,1,2016-04-03,on grass,Day Game,Pittsburgh Pirates,...,39.0,14.0,out to Leftfield,Unknown,5,3.033333,regular season,1,0,Win
2460,2460,20098.0,San Francisco Giants,0,6,3,2016-04-06,on grass,Day Game,Milwaukee Brewers,...,66.0,0.0,in unknown direction,In Dome,7,3.316667,regular season,1,0,Win
2461,2461,17883.0,Detroit Tigers,0,13,7,2016-04-06,on grass,Day Game,Miami Marlins,...,71.0,0.0,in unknown direction,In Dome,10,3.366667,regular season,0,1,Loss
2462,2462,10298.0,Boston Red Sox,1,10,6,2016-04-06,on grass,Night Game,Cleveland Indians,...,60.0,7.0,out to Leftfield,Unknown,13,3.483333,regular season,1,0,Win

# 1. На какую игру пришло максимальное количество зрителей за весь сезон игр?

In [72]:
# Чтобы вывести всю информацию о игре c наибольшим кол-вом зрителей за сезон, для начала я создал новый датафрейм, 
# где у меня лежат только матчи regular season(так как он мне понадобится и в дальнейшем). Следующим шагом 
# я сортирую весь датасет по убыванию (ascending = False) по колонке attendance и делаю слайс первой строчки
# Полученная строка предоставлет информацию о игре с максимальным числом зрителей за весь сезон

bsbl_regGms_df = bsblgms_df[bsblgms_df['season'] == 'regular season']
bsbl_regGms_df.sort_values(by=['attendance'], ascending = False).head(1)

,Unnamed: 0,attendance,away_team,away_team_errors,away_team_hits,away_team_runs,date,field_type,game_type,home_team,...,wind_speed,wind_direction,sky,total_runs,game_hours_dec,season,home_team_win,home_team_loss,home_team_outcome,total_hits
534,534,53621.0,San Francisco Giants,1,11,2,2016-09-20,on grass,Night Game,Los Angeles Dodgers,...,6.0,out to Rightfield,Cloudy,2,3.6,regular season,0,1,Loss,20

# 2. Какая игра была самая холодная (temperature) за весь сезон?

In [73]:
# Тут я использую созданный выше датасет bsbl_regGms_df и сортирую его по убыванию(ascending=True) 
# по столбцу temperature и делаю слайс первой строчки
# Полученная строка предоставлет информацию о самой холодной игре за весь сезон

bsbl_regGms_df.sort_values(by=['temperature'], ascending=True)[:1]

,Unnamed: 0,attendance,away_team,away_team_errors,away_team_hits,away_team_runs,date,field_type,game_type,home_team,...,wind_speed,wind_direction,sky,total_runs,game_hours_dec,season,home_team_win,home_team_loss,home_team_outcome,total_hits
2409,2409,32419.0,New York Yankees,1,13,8,2016-04-09,on grass,Day Game,Detroit Tigers,...,18.0,from Left to Right,Cloudy,12,3.333333,regular season,0,1,Loss,20

# 3. Какая игра была самая теплая за весь сезон?

In [74]:
# Тут я использую созданный выше датасет bsbl_regGms_df и сортирую его по возростанию(ascending = False) 
# по столбцу temperature и делаю слайс первой строчки
# Полученная строка предоставлет информацию о самой теплой игре за весь сезон

bsbl_regGms_df.sort_values(by=['temperature'], ascending = False)[:1]

,Unnamed: 0,attendance,away_team,away_team_errors,away_team_hits,away_team_runs,date,field_type,game_type,home_team,...,wind_speed,wind_direction,sky,total_runs,game_hours_dec,season,home_team_win,home_team_loss,home_team_outcome,total_hits
2026,2026,21753.0,San Francisco Giants,0,8,3,2016-05-13,on grass,Night Game,Arizona Diamondbacks,...,9.0,in unknown direction,Sunny,4,3.0,regular season,0,1,Loss,16

# 4. Какая игра в сезоне была самая долгая по продолжительности матча?

In [75]:
# Тут я решил применить метод idxmax, который возвращает индекс строки, в которой находиться максимальное значение по столбцу
# и применил этот метод к столбцу game_hours_dec из таблицы bsbl_regGms_df, который отдельно подал эту методу и получил индекс строки
# с наибольшим временем игры, а дальше с помощью метода iloc получил строку, с информацией о интересующем матче, по её индексу
bsbl_regGms_df.iloc[bsbl_regGms_df['game_hours_dec'].idxmax()]

Unnamed: 0                          1480
attendance                       32909.0
away_team            St. Louis Cardinals
away_team_errors                       1
away_team_hits                         9
away_team_runs                         8
date                          2016-06-28
field_type                      on grass
game_type                     Night Game
home_team             Kansas City Royals
home_team_errors                       1
home_team_hits                        11
home_team_runs                         4
start_time               7:14 p.m. Local
venue                   Kauffman Stadium
day_of_week                      Tuesday
temperature                         83.0
wind_speed                           8.0
wind_direction        from Right to Left
sky                                Sunny
total_runs                            12
game_hours_dec                  2.833333
season                    regular season
home_team_win                          0
home_team_loss                         1
home_team_outcome                   Loss
total_hits                            20
Name: 1480, dtype: object

# 5. Какая игра в сезоне была самая короткая по продолжительности матча?

In [76]:
# все тоже самое, что и в 4 задании, только использовалc метод idxmin для получения индекса строки с минимальным значением
bsbl_regGms_df.iloc[bsbl_regGms_df['game_hours_dec'].idxmin()]

Unnamed: 0                            458
attendance                        18707.0
away_team            Arizona Diamondbacks
away_team_errors                        0
away_team_hits                         13
away_team_runs                         14
date                           2016-09-26
field_type                       on grass
game_type                      Night Game
home_team            Washington Nationals
home_team_errors                        1
home_team_hits                          8
home_team_runs                          4
start_time                7:06 p.m. Local
venue                      Nationals Park
day_of_week                        Monday
temperature                          70.0
wind_speed                            5.0
wind_direction         from Right to Left
sky                              Overcast
total_runs                             18
game_hours_dec                       3.35
season                     regular season
home_team_win                           0
home_team_loss                          1
home_team_outcome                    Loss
total_hits                             21
Name: 458, dtype: object

# 6. Сколько матчей в сезоне закончилось ничьей?

In [77]:
# для поиска таких матчей я написал маску, которая проверяет, что в одной строке в столбцах home_team_win и home_team_loss 
# стоят нули, тогда считаем, что матч закончился ньчьей. После применения маски, мы получили датасет с такими матчами, 
# а дальше, с помощью функции len считаем количество строк в получившемся датасете. Это и будет наш ответ 
mask = (bsbl_regGms_df['home_team_win'] == 0) & (bsbl_regGms_df['home_team_loss'] == 0)
len(bsbl_regGms_df[mask])

1

# 7. Какая игра была последней в сезоне?

In [140]:
# ????
def numMinFromBeginningDay(row):
    time_str = row['start_time']
    time_part = time_str.split(' ')[0]
    am_pm = time_str.split(' ')[1]
    hours, minutes = map(int, time_part.split(':'))
    if am_pm == 'p.m.' and hours != 12:
        hours += 12
    elif am_pm == 'a.m.' and hours == 12:
        hours = 0
    total_minutes = hours * 60 + minutes
    return total_minutes
bsbl_regGms_df['num_min_from_beginning_day'] = bsbl_regGms_df.apply(numMinFromBeginningDay, axis = 1)

print(bsbl_regGms_df.sort_values(by = ['date','num_min_from_beginning_day'],ascending=[False, False])[:1][['start_time']])
print(bsbl_regGms_df.sort_values(by = ['date','start_time'],ascending=[False, False])[:1][['start_time']])

          start_time
395  3:17 p.m. Local
          start_time
395  3:17 p.m. Local

# 8. У какой игры было минимальное количество зрителей?

In [141]:
# Тут также как и в первом задании, только ascending=True, для получения минимального значения и делаем все это
# по исходному датасету, так как нам необходимо учесть и post season матчи
bsblgms_df.sort_values(by=['attendance'], ascending=True)[:1]

,Unnamed: 0,attendance,away_team,away_team_errors,away_team_hits,away_team_runs,date,field_type,game_type,home_team,...,wind_speed,wind_direction,sky,total_runs,game_hours_dec,season,home_team_win,home_team_loss,home_team_outcome,num_min_from_beginning_day
2130,2130,8766.0,Detroit Tigers,0,5,0,2016-05-04,on grass,Night Game,Cleveland Indians,...,11.0,from Left to Right,Overcast,4,2.316667,regular season,1,0,Win,1090.0

# 9. Какая игра в сезоне была самая ветренная?

In [142]:
# Тут снова используем bsbl_regGms_df и сортируем по wind_speed с ascending=False, чтобы сортировка была по убыванию
# делаем слайс первой строки и получаем информацию о интересующем нас матче
bsbl_regGms_df.sort_values(by=['wind_speed'], ascending=False)[:1]

,Unnamed: 0,attendance,away_team,away_team_errors,away_team_hits,away_team_runs,date,field_type,game_type,home_team,...,wind_direction,sky,total_runs,game_hours_dec,season,home_team_win,home_team_loss,home_team_outcome,total_hits,num_min_from_beginning_day
2005,2005,35736.0,Houston Astros,2,8,9,2016-05-15,on grass,Day Game,Boston Red Sox,...,out to Rightfield,Cloudy,19,3.666667,regular season,1,0,Win,22,814

# 10. В какой игре получили максимальное количество очков?

In [143]:
# Тут используем исходный датасет, сортировка по total_runs и ascending=False, чтобы сортировка была по убыванию
# после слайса первой строки, получаем информацию о интересющем нас матче
bsblgms_df.sort_values(by=['total_runs'], ascending=False)[:1]

,Unnamed: 0,attendance,away_team,away_team_errors,away_team_hits,away_team_runs,date,field_type,game_type,home_team,...,wind_speed,wind_direction,sky,total_runs,game_hours_dec,season,home_team_win,home_team_loss,home_team_outcome,num_min_from_beginning_day
1788,1788,22588.0,Seattle Mariners,1,16,16,2016-06-02,on grass,Night Game,San Diego Padres,...,10.0,out to Rightfield,Sunny,29,3.833333,regular season,0,1,Loss,1090.0

# 11. Какая игра содержала максимальное количество ошибок домашней команды?

In [144]:
# Тут работем с исходным датасетом, сортируем по 'home_team_errors', ascending=False чтобы сортировка была по убыванию
# и делаем слайс первой строки. Получем информацию об интересующей нас игре
bsblgms_df.sort_values(by=['home_team_errors'], ascending=False)[:1]

,Unnamed: 0,attendance,away_team,away_team_errors,away_team_hits,away_team_runs,date,field_type,game_type,home_team,...,wind_speed,wind_direction,sky,total_runs,game_hours_dec,season,home_team_win,home_team_loss,home_team_outcome,num_min_from_beginning_day
1178,1178,22581.0,Arizona Diamondbacks,1,11,8,2016-07-27,on grass,Night Game,Milwaukee Brewers,...,9.0,in from Leftfield,Cloudy,9,2.933333,regular season,0,1,Loss,1150.0

# 12. В какой игре было максимальное количество хитов?

In [145]:
# Для того, чтобы узнать максимальное кол-во хитов, создадим новый стобец total_hits, который будет содержать сумму
# столбцов away_team_hits и home_team_hits. А дальше как и в заданиях выше, сортируем и делаем слайс
bsblgms_df['total_hits']= bsblgms_df['away_team_hits'] + bsblgms_df['home_team_hits']
bsblgms_df.sort_values(by=['total_hits'], ascending=False)[:1]

,Unnamed: 0,attendance,away_team,away_team_errors,away_team_hits,away_team_runs,date,field_type,game_type,home_team,...,wind_direction,sky,total_runs,game_hours_dec,season,home_team_win,home_team_loss,home_team_outcome,num_min_from_beginning_day,total_hits
1413,1413,36253.0,Texas Rangers,0,16,5,2016-07-04,on grass,Day Game,Boston Red Sox,...,out to Centerfield,Cloudy,17,3.666667,regular season,1,0,Win,817.0,37

# 13. Выведите количество игр которая сыграла каждая команда в данном сезоне?

In [146]:
# Тут мы используем датасет bsbl_regGms_df. Чтобы посчитать общее количество сыгранных матчей, необходимо найти, сколько
# матчей сыграла каждая команда со стороны гостевой команды и сколько матчей со стороны домашней команды
# Для этого создадим два новых датасета: away_games_df и home_games_df.
# Проведем группировку по столбцам away_team и home_team с методом size, чтобы получить количество датасеты с кол-вом
# гостевых(away_games_df) и домашних(home_games_df) игр соответственно
# Далее объеденяем наши датасеты в один(total_games_df), где ключом при объединении будет колонка 'team'.
# Объеденяем мы методом outer чтобы не потерять команды, которые могли играть только гостевые или только домашние матчи
# И в конце просто суммируем столбцы away_games_count и home_games_count в total_games_count

away_games_df = bsbl_regGms_df.groupby('away_team').size().to_frame('away_games_count').reset_index().rename(columns = {'away_team':'team'})
home_games_df = bsbl_regGms_df.groupby('home_team').size().to_frame('home_games_count').reset_index().rename(columns = {'home_team':'team'})
total_games_df = pd.merge(away_games_df, home_games_df, on='team', how='outer')
total_games_df['total_games_count'] = total_games_df['away_games_count'] + total_games_df['home_games_count']
total_games_df[['team', 'total_games_count']]

                             team  total_games_count
0            Arizona Diamondbacks                162
1                  Atlanta Braves                161
2               Baltimore Orioles                162
3                  Boston Red Sox                162
4                    Chicago Cubs                162
5               Chicago White Sox                162
6                 Cincinnati Reds                162
7               Cleveland Indians                161
8                Colorado Rockies                162
9                  Detroit Tigers                161
10                 Houston Astros                162
11             Kansas City Royals                162
12  Los Angeles Angels of Anaheim                162
13            Los Angeles Dodgers                162
14                  Miami Marlins                161
15              Milwaukee Brewers                162
16                Minnesota Twins                162
17                  New York Mets                162
18               New York Yankees                162
19              Oakland Athletics                162
20          Philadelphia Phillies                162
21             Pittsburgh Pirates                162
22               San Diego Padres                162
23           San Francisco Giants                162
24               Seattle Mariners                162
25            St. Louis Cardinals                162
26                 Tampa Bay Rays                162
27                  Texas Rangers                162
28              Toronto Blue Jays                162
29           Washington Nationals                162

# 14. Какая команда выиграла наибольшое количество матчей в сезоне? (Будьте внимательны с типом матча в сезоне - season).

In [147]:
# Тут мы используем датасет bsbl_regGms_df. Чтобы посчитать общее количество выигранных матчей, необходимо найти, сколько
# матчей выиграла каждая команда как гостевая команда и сколько матчей выиграла как домашная команда.
# Так как у нас победа это 1, то количество побед можно найти, просто просуммировав значения по столбцу.
# Чтобы найти количество побед для каждой команды, если они играли со стороны домашней команды, то мы группируем по названию команды
# и по столбцу home_team_win считаем sum() (у нас получится home_win_df). Аналогично группируем гостевые команды(away_team) 
# и суммируем home_team_loss (получим away_win_df)
# А теперь, как и в прошлом задании объеденяем таблицы по 'team' с атрибутом how='outer'>, суммируем два столбца в total_wins,
# сортируем и слайсим

home_win_df = bsbl_regGms_df.groupby(['home_team'])[['home_team_win']].sum().reset_index().rename(columns = {'home_team':'team'})
away_win_df = bsbl_regGms_df.groupby(['away_team'])[['home_team_loss']].sum().reset_index().rename(columns = 
                                                                                                   {'away_team':'team',
                                                                                                    'home_team_loss':'away_team_win'})
total_win_df = pd.merge(home_win_df, away_win_df, on='team', how='outer')
total_win_df['total_wins'] = total_win_df['home_team_win'] + total_win_df['away_team_win']
total_win_df[['team','total_wins']].sort_values(by = 'total_wins', ascending=False)[:1]

           team  total_wins
4  Chicago Cubs         103

# 15. Какая команда выиграла наибольшее количество домашних матчей в сезоне?

In [148]:
# использую датасет, который создал в прошлом задании, сортирую, слайс и получаю значение
home_win_df.sort_values(by = 'home_team_win', ascending=False)[:1]

           team  home_team_win
4  Chicago Cubs             57

# 16. Какая команда выиграла наибольшее количество гостевых матчей в сезоне?

In [149]:
# аналогично 15-у заданию, только по away_win_df
away_win_df.sort_values(by = 'away_team_win', ascending=False)[:1]

                   team  away_team_win
25  St. Louis Cardinals             48

# 17. Какая команда проиграла наибольшее количество матчей в сезоне?

In [150]:
# Чтобы посчить кол-во проигрышей каждой команды, я объеденил датасеты total_games_df и total_win_df, по 'team' 
# с атрибутом how='outer'. По логике, если отнять от общего кол-ва игр кол-во побед, мы получим кол-во проигрышей. 
# Таким образом вычитая из стобца total_games_count столбец total_wins, мы создаем новый стобец total_loss,
# а дальше все как раньше, сортируем и слайсим
total_loss_df = pd.merge(total_games_df, total_win_df, on='team', how='outer')
total_loss_df['total_loss'] = total_loss_df['total_games_count'] - total_loss_df['total_wins']
total_loss_df[['team', 'total_loss']].sort_values(by = 'total_loss', ascending=False)[:1]

               team  total_loss
16  Minnesota Twins         103

# 18. Зависит ли выигрыш от количества посетителей матча? (https://pandas.pydata.org/docs/reference/api/pandas.DataFrame.cov.html)

In [151]:
bsblgms_df[['attendance', 'home_team_win']].cov()

                 attendance  home_team_win
attendance     9.752484e+07     224.971873
home_team_win  2.249719e+02       0.249235

# 19. Правда ли что большинство проигрышных домашних матчей приходятся на Субботу и Воскресенье?

In [152]:
bsblgms_df.groupby('day_of_week')[['home_team_loss']].sum().reset_index()[['day_of_week','home_team_loss']]

  day_of_week  home_team_loss
0      Friday             184
1      Monday             131
2    Saturday             175
3      Sunday             190
4    Thursday             124
5     Tuesday             187
6   Wednesday             167

# 20. Правда ли что наибольшее количество ранов происходит в холодную погоду? (Холодной погодой считается погода ниже 0 градусов)

In [153]:
cold_mask = ((bsblgms_df['temperature']-32)/1.8 < 0)
warm_mask = ((bsblgms_df['temperature']-32)/1.8 >= 0)

def isCold(row):
     if not pd.isnull( row['temperature'] ):
        if (row['temperature']-32)/1.8 < 0:
            return 'cold'
        else:
            return 'warm'
bsblgms_df['isCold'] = bsblgms_df.apply(isCold, axis = 1 )
bsblgms_df.groupby('isCold').agg({'total_runs': ['mean','median','max']})

       total_runs
             mean median max
isCold
cold    12.000000   12.0  12
warm     8.932169    8.0  29